body {
    padding: 0;
    margin: 0;
    font-family: 'Arial', sans-serif;
    overflow: hidden;
    box-sizing: border-box;
    }

    a:link {
        text-decoration: none;
        color: #000
    }

    a:hover {
        text-decoration: underline;
    }

    input:hover {
        box-shadow: 1px 2px 3px 2px rgba(56, 56, 56, 0.274);
        
        
    }

    .header li {
        display: inline-block;
        font-size: 13px;
        margin-right: 10px;
        margin-top: 10px;
        opacity: 0.75
    }

    #navigation_left {
        float: left;
        text-align: left;
        margin-right: 7px;
        width: 160px;

    }

    #navigation_right {
        float:right;
        margin-right: 30px;
    }

    .main img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        position: relative;
    }

    .main {
        position: relative;
        top: 200px;
        left: 45px;
    }

    .search input {
        display: block;
        position: relative;
        margin-left: auto;
        margin-right: auto;
        height: 40px;
        width: 30%;
        top: 230px;
        border-radius: 40px;
        border: solid 0.12em #f2f2f2;
    }

    button {
        display: inline;
        position: relative;
        margin-left: auto;
        margin-right: auto;
        top: 260px;
        left: 43%;
        padding: 10px 20px 10px 20px;
        border: 1px solid #f2f2f2;
        background-color: #f2f2f2;
        border-radius: 4px;
        color: #5F6368;
        margin-right: 10px;
        text-align: center;

    }
    p {
        font-size: small;
        text-align: center;
        position: relative;
        top: 280px;
        margin-bottom: 35.5%;
    }

     .location {
        font-size: 15px;
        height: auto;
        line-height: 18px;
        text-align: left;
        display: block;
        padding-left: 41px;
        border-top: 1px solid #e4e4e4;
        width: 100%;
        background-color: #f2f2f2;
        color: rgba(0,0,0,.54);
        padding-top: 10px;
    }

    .footer {
        display: grid;
        grid-template-columns: 50% 50%;
        justify-content: space-evenly;
        background: #f2f2f2;
        color: #5F6368;
    }



    .footer .left {
        grid-column: 1 / 2;
        text-align: left;
        list-style-type: none;
        border-top: 1px solid #e4e4e4;
        padding-right: 20px;
        }

    .footer .right {
        grid-column: 2 / 2;
        text-align: right;
        padding-right: 15px;
        list-style-type: none;
        border-top: 1px solid #e4e4e4;
    }

    .footer .right li, .footer .left li {
        display: inline-block;
        margin-right: 22px;
        font-size: 13px;
        color: #5f6368;
        padding-top: 10px;
        text-transform: none;
    }